<div class="container" id="inicio">
    <div class="itemscontainer">
        <h2>Jeremias Luquez</h2>
        <div>
            <P>
                Soy un apasionado de la tecnología y la
                programación, graduado de una escuela de arte con
                un fuerte enfoque en el diseño y la creatividad. Me
                encanta trabajar en proyectos desafiantes y colaborar
                en equipo para lograr soluciones innovadoras. Me
                considero una persona comprometida, curiosa y con
                ganas de aprender cada día más.
            </P>
        </div>
    </div>
</div>