<div class="container" id="skills" >
    <h2>Habilidades</h2>
    <div class="container2">

        <div class="list">
            <div class="items">
                <div class="progress-line">
                    <h4>Html</h4>
                    <progress-bar-angular barColor=#757575 [progress]='90' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">90%</h6>
                </div>
                <div class="progress-line">
                    <h4>Css</h4>
                    <progress-bar-angular barColor=#757575 [progress]='70' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">70%</h6>
                </div>
                <div class="progress-line">
                    <h4>JavaScript</h4>
                    <progress-bar-angular barColor=#757575 [progress]='40' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">40%</h6>
                </div>
                <div class="progress-line">
                    <h4>TypeScript</h4>
                    <progress-bar-angular barColor=#757575 [progress]='50' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">50%</h6>
                </div>
                <div class="progress-line">
                    <h4>Angular</h4>
                    <progress-bar-angular barColor=#757575 [progress]='70' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">70%</h6>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="items">
                <div class="progress-line">
                    <h4>Python</h4>
                    <progress-bar-angular barColor=#757575 [progress]='50' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">50%</h6>
                </div>
                <div class="progress-line">
                    <h4>PHP</h4>
                    <progress-bar-angular barColor=#757575 [progress]='30' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">30%</h6>
                </div>
                <div class="progress-line">
                    <h4>Node.js</h4>
                    <progress-bar-angular barColor=#757575 [progress]='30' height="5px" borderRadius="sm"
                        backgroundColor='none' mode='determinate'></progress-bar-angular>
                    <h6 class="por">30%</h6>
                </div>
            </div>
        </div>
    </div>