<div class="container" id="experiencia">
    <div class="card" style="background-color: #1c1c1c; color: white;">
        <i class="fa-solid fa-paintbrush"></i>
        <div class="card-content">
            <h2>IPEMyT 23 Lino Enea Spilimbergo</h2>
            <h3 style="color: #5735ff;">Bachiller en Artes Visuales</h3>
            <h4>2015-2020</h4>
            <p></p>
        </div>
    </div>

    <div class="card" style="background-color: #fffffff5;">
        <i class="fa-solid fa-laptop-code"></i>
        <div class="card-content">
            <h2>ARGENTINA PROGRAMA</h2>
            <h3 style="color: #5735ff;">FULL STACK DEVELOPER JR</h3>
            <h4>2022-2023</h4>
            <p></p>
        </div>
    </div>

    <div class="card" style="background-color: #d3d3d3f5;">
        <i class="fa-solid fa-robot"></i>
        <div class="card-content">
            <h2>U.T.N  F.R.C.</h2>
            <h3 style="color: #5735ff;">Tecnico Mecatronico</h3>
            <h4>Proximamente</h4>
            <p></p>
        </div>
    </div>
</div>