<footer id="contacto">
    <div class="left-part">
      <p>Contacto:</p>
      <p>Telefono:+54 9 3543 53-3192</p>
      <p>Email:  Ljuga8@mail.com</p>
      <p><i class="fab fa-discord"></i>Ljuga #3438</p>
    </div>
    <div class="right-part">
      <a href="https://www.facebook.com/profile.php?id=100008366831864" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/jeremiasluquez/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/ljuga" target="_blank"><i class="fab fa-github"></i></a>

    </div>
  </footer>