<div class="container" id="proyectos">
    <h2>Proyectos</h2>
    <div class="card-grid">
        <div class="card" style="background-image: url('https://via.placeholder.com/400x600')   ;">
            <div class="card-overlay">
                <h2>Titulo</h2>
                <h3>Subtitulo</h3>
                <p>Texto</p>
            </div>
        </div>
        <div class="card" style="background-image: url('https://via.placeholder.com/400x600')   ;">
            <div class="card-overlay">
                <h2>Titulo</h2>
                <h3>Subtitulo</h3>
                <p>Texto</p>
            </div>
        </div>
        <div class="card" style="background-image: url('https://via.placeholder.com/400x600');">
            <div class="card-overlay">
                <h2>Titulo</h2>
                <h3>Subtitulo</h3>
                <p>Texto</p>
            </div>
        </div>
        <div class="card" style="background-image: url('https://via.placeholder.com/400x600');">
            <div class="card-overlay">
                <h2>Titulo</h2>
                <h3>Subtitulo</h3>
                <p>Texto</p>
            </div>
        </div>
    </div>
</div>