.container h2{
margin-top: 50px;
margin-left: 43%;
font-size: 3em;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(600px, auto);
    margin: 50px;
  }
  
  .card {
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  .card:hover .card-overlay {
    display: block;
  }
  
  .card-overlay h2 {
    font-size: 2em;
    margin-left: 0;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  
  .card-overlay p {
    font-size: 14px;
    opacity: 0.7;
    margin-top: 20px;
  }
  